[2017-12-10 20:03] edgarcosta opened #1 "missing lmfdb module"

[2017-12-10 20:03] edgarcosta opened #2 "separate the 3 methods for upper bounds"

[2017-12-10 20:04] edgarcosta opened #3 "add missing examples"

[2017-12-15 11:21] edgarcosta opened #4 "License"
address License issue raised by @JRSijsling

[2018-03-04 07:26] edgarcosta opened #5 "Magma documentation"
Polish it a bit

[2018-03-11 15:05] jvoight opened #6 "SE_Curve"
I downloaded a fresh ZIP file and ran this in the magma directory, presumably an easy fix, but I actually can't find the function SE_Curve.

[code]

[2018-03-12 19:27] edgarcosta commented on #6
@jvoight, could you try again?
I believe I have just fixed it with an horrible workaround.
I tried your example on my side and now it seems to work.

@michaelmusty, do you know of a better workaround to avoid preparsing errors of things that aren't going to be called?
In short, `SE_curve` might (or not) be defined in an external package, but since magma is interpreted, it shouldn't stop us from me

[2018-03-12 19:36] edgarcosta commented on #5
I think it is a clearer now.
https://github.com/edgarcosta/endomorphisms/commit/31b4e01e84be2d48cf4b76a4357fdf3bbd93fb2b

[2018-03-12 19:36] #5 closed

[2018-03-12 19:41] JRSijsling commented on #6
Sorry, this is not quite made clear in the readme, but you have to install the package mentioned there *and* add that to your .magmarc.

[2018-03-12 19:49] edgarcosta commented on #6
@JRSijsling, let me play devils advocate, what if I don't want to install the package by Molin and Neurohr?

[2018-03-12 19:50] edgarcosta commented on #6
Alternatively, we can also add a "symlink" to their package.

[2018-03-14 06:27] jvoight commented on #6
Thanks Edgar, the hack works for me, and I don't know of an alternative.

I'm wary of creating a unnecessary dependency on another package.  In my situation, I can make my own period matrices, and although I don't mind installing something else, I don't feel like I should have to.  And what happens if and when they update their package, possibly breaking things for us?

[2018-03-14 11:02] JRSijsling commented on #6
Yeah, I see the point of not relying on other packages. But here it is really better than the standard Magma alternative. And one can always rewind the checkout of the other package if things break.

The error is due to my lack of knowledge. Magma tries to parse all bits of the code, regardless of whether it is ever run. So even if you set MolinNeurohr to false it tries to find the corresponding f

[2018-03-14 11:16] jvoight commented on #6
Yes, I also understand that currently the other package is superior to Magma.  But:
  * What if that changes, but the dependency remains?
  * What about my case where I make my own period matrices?
  * And when Magma runs (even if a bit slowly), I still cannot proceed, I must download another package?
The user of our package may not want to or be expert enough to keep track of an extra package, or

[2018-03-14 11:24] JRSijsling commented on #6
Yes, thanks for thinking with us! The submodule thing might be a good idea to solve this appropriately, because we cannot get around using the other package in some form. Indeed user-friendliness is to be considered.

In the meantime, here is how one can react to changes with the current code:

If Magma ever gets a better standard algorithm, just leave the package and set MolinNeurohr to false.

S

[2018-03-14 12:59] edgarcosta commented on #6
I think it makes more sense to think of ```MolinNeurohr ```  as an addon, instead of a dependency, as we only use it for the period matrix, and even then is optional for most cases.

If we all agreed with this, I would close the issue and revisit this if we ever need to.

[2018-04-11 15:26] edgarcosta opened #7 "implement higher genus upper bounds"

[2018-04-25 18:16] #7 closed

[2018-04-25 18:27] #1 closed

[2018-04-25 20:08] edgarcosta commented on #2
I have now implemented the generic approach for higher genus #8.

We still make available the two other approaches available, which are special cases of the generic one:
* Davide's approach for genus 2 (that will use smalljac), and
* the upper bound through Neron--Severi, https://github.com/edgarcosta/endomorphisms/blob/master/endomorphisms/bounds/NeronSeveriBound.py.

If I recall correctly, David

[2018-04-26 07:40] JRSijsling commented on #4
We're OK then  :-)

[2018-04-26 07:40] #4 closed

[2018-04-26 13:08] edgarcosta commented on #2
@jvoight will do.

That is exactly what I meant by "to be less lazy". With this we should tackle without any issue g of modest size (certainly g <= 5)

[2018-04-27 18:58] edgarcosta opened #11 "Lower bounds on the discriminant of quaternion algebra if upper bound indicates to be type II"

[2018-06-05 16:27] michaelmusty commented on #6
I was having this problem too. If you attach the MolinNeurohr (https://github.com/pascalmolin/hcperiods) spec file, then the superelliptic functions become available in the session, but the error still occurs if you want to use it in another function. For example, if we start in the endomorphisms example directory, then the code

AttachSpec("../../hcperiods/magma/spec");
AttachSpec("../endomorphis

[2018-06-05 21:02] michaelmusty commented on #6
Edgar and I will continue to try to fix this, but if not then we will have to include hcperiods as a submodule.

[2018-08-06 13:38] JRSijsling commented on #6
How is this coming along? Iti is a bit frustrating that the current master branch is something for which the examples fail to work.

[2018-08-11 21:17] edgarcosta commented on #6
Howdy,

Mike and I didn't manage to find a workaround it.
Jeroen had tried in the past and was also unsuccessful.
I propose we include MolinNeurohr as a submodule. This will be a temporary
solution as I'm aware that Chris is trying to get the period package
integrated into Magma.

Jeroen, on my way to Wales, I will fix once I'm on that side of the pond.
(If you prefer you can go ahead an revert my

[2018-08-30 13:08] JRSijsling commented on #6
Right now the README.md tells the users to install `hcperiods`. In my opinion this is not a bad solution. The user can be expected to put in that minor effort. Moreover, I feel that integrating `hcperiods` does not emphasize Molin--Neurohr's work enough. And at any rate, once this is part of Magma, then we can switch automatically.

[2018-08-30 13:12] JRSijsling opened #12 "Matrix algebras over division algebras"
This is for later generalization in genus 4. How do we find out whether a given central simple algebra is, say, M_2 (B), where D is a quaternion algebra, instead of M_4 (QQ)?

For sure there are some approaches, like considering the discriminant of a maximal order. But is there a clean way? I know of none so far.

(Also think of stuff like matrix algebras over quaternion algebras over totally real

[2018-08-31 01:49] jvoight commented on #12
If you want just to recognize, you use norm residue symbols; much of this is in magma (but a bit buried).

If you want to compute an isomorphism, there is the beginning of such an algorithm (https://www.sciencedirect.com/science/article/pii/S0021869312000300).  I do not think it would be hard to generalize to an arbitrary central simple algebra, giving M_n(D) where D is a division ring, if that ha

[2018-08-31 07:52] JRSijsling commented on #12
The last paragraph of the article cited does not involve any restrictions, as far as I can see, so if we suspect some isomorphism A ~ M_2 (B) with B a quaternion algebra, then we can just apply their methods. Or at least I hope so.

Yeah, I do want that isomorphism. Usually I want to be able to describe the order in the quaternion algebra as well, especially if it is Eichler say.

Anyway, also for

[2018-08-31 18:51] JRSijsling opened #13 "Linear algebra"
Polredbestabs has been integrated throughout, meaning that the determination of the endomorphism field is very fast and that the results at the end are even readable. This is awesome. The current package works very well now, over any field. Still, there are some things that give it pause, even in genus 2, and that have to do with linear algebra. This is not my specialty and it would be great to ge

[2018-08-31 19:37] jvoight commented on #12
Cool!

Magma functionality is rudimentary, so the basic answer to your question is: pieces are there, it's likely a large task to get this to work in general, but a small to medium task to get it to work in an individual example.  In other words, if we're not just talking about a few examples, we need to reboot the conversation.

To apply Galois cohomology in the nicest possible way, you need to w

[2018-08-31 19:43] JRSijsling commented on #12
I am fine with "just" doing genus 4 examples, after that (as g grows, that is) nothing essentially new shows up for a while.

And yeah, in that genus I want something general. But if I can guess with one part and verify with the other, and that works in practice, then I am happy. Will try that... at some point.

[2018-08-31 20:42] JRSijsling commented on #13
Actually there is one answer that usually works: find the minimal polynomial, determine the roots algebraically, and see which one works. But I find that vile (and it takes quite long in the J (O) case).

[2018-09-01 16:30] JRSijsling commented on #13
In fact `LinearRelation` is deprecated and really slow, we have to use `IntegerRelation`. There you can also specify the maximum height that you accept. Sounds great, but

(1) When both versions work, then mine is quite a bit faster;
(2) Precision 500 fails in both cases;
(3) Precision 1000 works for my version, but fails when using `IntegerRelation` if I gave it a height bound that I know to work

[2018-09-01 17:31] JRSijsling commented on #13
Because there is no unique solution. The beta_i are all in CC, as is alpha. So the numerical kernel is big, size of the order of the degree of the number field. And then you have to find an integral element close to that.

[2018-09-01 17:39] jvoight commented on #13
I mean embed using the Minkowski embedding, so there is a unique element in the numerical kernel with the coefficient of alpha equal to 1, up to rescaling.  Finding the kernel of a 49 x 48 matrix over the complex numbers to 1000 digits of precision should be very doable.

[2018-09-01 17:41] JRSijsling commented on #13
I had this thought once, but does not this require me to know what the conjugates of alpha are? And I do not, that is the crux.

[2018-09-01 17:49] jvoight commented on #13
But at some point you recognized at least one minimal polynomial.  Is it too expensive to do the rest?  I thought this worked pretty well, using LLL.  If so, then you have the conjugates.

[2018-09-01 18:00] JRSijsling commented on #13
I still do not know which conjugate is which. But you make a good point.

[2018-09-01 18:10] jvoight commented on #13
Hmm, that's true, but you only need to list the conjugates in the same way as G-sets.

But if you can compute all the minimal polynomials, then iterated polredbest should quickly almost always return the same polynomial, and it gives you the isomorphism, so then you just need to identify the right embedding.  So maybe a modification like this of your "answer that usually works" is just fine.

[2018-09-02 08:39] JRSijsling commented on #13
Identifying the right embedding gets us back to calculating the roots algebraically, which is what I wanted to avoid. Still, this may simply be needed, otherwise I really do not see how to magically detect the root order.

So I think that a compromise might be in order. I can try the current method and see if the element obtained is indeed a root. If that fails, we can revert to calculaing the roo

[2018-09-05 12:57] JRSijsling commented on #13
Solved now; improvements by Nicolas enable us to calculate roots much faster, so that route is taken. Precision 100 now suffices.

[2018-09-05 12:57] #13 closed

[2018-11-04 10:40] JRSijsling commented on #6
Update: both that work and the algorithms for general curves will soon be part of Magma. So I suggest to leave this aside until that time, after which it will be straightforward to integrate.

We should still give a clear indication and attribution of their work, since it plays such an indispensable role in the heuristics.

[2018-11-04 11:58] JRSijsling commented on #12
This (and finding decent idempotents in this situation if they exist) can be work for a good master's student and is no priority. Closing.

[2018-11-04 11:58] #12 closed

[2018-12-05 08:01] JRSijsling opened #15 "Endomorphism ring"
Return endomorphism ring as second value of `HeuristicEndomorphismAlgebra`.

[2018-12-05 08:01] JRSijsling opened #16 "Parse endomorphism description"
Write `Magma` parser for endomorphism descriptions.

[2018-12-05 08:02] JRSijsling opened #17 "Isogenies to products"
Given a split Jacobian J with maps to E1 and E2, find the structure of the corresponding isogeny.

[2018-12-05 08:51] JRSijsling opened #18 "Polarization preservation"
Write a function that checks whether a given isogeny is compatible with given polarization classes.

[2018-12-05 13:19] JRSijsling commented on #15
Actually, this exists already, as noted in the description of `HeuristicEndomorphismAlgebra`. Right now, if we put
[code]
then `L[1]` is the algebra, `L[2]` the generators of the ring, and `L[3]` describes the algebra after tensoring with RR. So to get the ring (up to isomorphism) you just go
[code]
It is also possible to get the ring as matrices, but that is not currently accessible as a button.

[2018-12-05 16:49] JRSijsling commented on #17
Provisional function `IsogenyInformation` added.

[2018-12-05 16:49] JRSijsling commented on #18
Provisional function `IsogenyInformation` added.

[2018-12-05 19:01] jvoight commented on #15
Aha!

So for the above, I got

Associative Algebra of dimension 2 with base ring Rational Field

and then I was confused because it looks like these are generators for the algebra, not the ring.  My mistake.

But why would you mix the algebra and the ring under the same function?

(1) Why not HeuristicEndomorphismRing, and you return the order and generators as above?  (Wouldn't it make sense to p

[2018-12-05 21:32] JRSijsling commented on #15
(1) OK, that makes sense. I guess we could add the result of tensoring with RR to the `Algebra` version and have the `Ring` version return everything.

Post-processing is an option. I just do not know how to make QQ x QQ any more accessible than it is now. Right now at least there is a uniform structure `AlgAss` that comes out.

(2) This is not at all hard on the level of generators. It is in fact

[2019-04-10 22:13] edgarcosta opened #19 "Sage doesn't load .magmarc at startup"
This week @kedlaya was trying to use our package through sage, and the magma was behaving as if Molin--Neurohr's code was not installed.
After a while, we realized that magma hadn't loaded `.magmarc` file, and thus the mismatch in expectations.

@JRSijsling, have you ever noticed this before? Should we add a note?

[2019-04-11 06:20] JRSijsling commented on #19
A first, kind of unhelpful, remark is that by now you do not have to use it through Sage any longer. See `examples/Buttons.m`.

I though that this was taken care of in `__init__.py`. So this is strange. You can add a line
```magma.load("~/.magmarc")```
to `~/.sage/init.sage`. But after that I still get errors on toby. This sucks.

On the other hand, if your own error is about the computation of pe

[2019-04-11 07:06] JRSijsling commented on #19
I kicked out all my config files and started from scratch, reinstalling the package and adding that line to `~/.sage/init.sage`. After that, for some reason everything worked again.

The `magmarc` file should contain references to the spec of `hcperiods` as well as the spec of `endomorphisms` itself. That triggers everything. Shall we add a line to this effect to the README?

(Why what I did made

[2019-04-11 09:57] JRSijsling commented on #19
Just shamelessly pushed an improved `README.md`. If you like it, then this can be closed, if not, then we talk further.

[2019-04-11 18:46] edgarcosta commented on #19
Thanks!

I was going to ask what you thought was the best solution, but I agree with that one :)

[2019-04-11 18:46] #19 closed

[2019-04-15 15:04] jvoight opened #20 "Pipes need cleaned"
Our pipe commands through Pari/gp using Pipe("gp -q",cmd) work fine interactively, but in batch mode it fails in various places because the line "time X ms." gets added to the output for some reason.  The code is blindly evaluating the return value from Pipe, so it breaks.  We should be more careful with processing the output from gp, at least removing all lines containing the string "time" from t

[2019-04-15 17:12] JRSijsling commented on #20
Be careful with puns like that please, I do not want to have to clean my drawers as well.

I am not familiar enough with Pari to solve this, and will ask Nicolas. In the meantime note that all functions referring to Pari are in `polredabs.m` and `roots.m` in `endomorphisms/magma`, so no need to look anywhere else for problems to fix.

[2019-04-15 17:27] edgarcosta commented on #20
@AndrewVSutherland, can you provide an example with traceback?

[2019-04-15 18:05] AndrewVSutherland commented on #20
Just add  timer = 1 to your .gprc and try calling HeuristicEndomorphismLattice with any input that takes more than a millisecond.  e.g.

[code]

I still do not understand why the timer was getting turned on when I ran jobs in batch mode (it is supposed to be off by default), but in any case your code should not break just because someone has timer = 1 set in the .gprc.

An easy fix is to ignore li

[2019-04-15 19:59] nmascot commented on #20
How about Pipe("gp -q -D timer=0",cmd) ?
According to the man page, this overrides the .gprc settings.
This is not bullet proof either though, as it will not work it .gprc contains an instruction to read a .gp file (typically, .gprc.gp) containing default(timer,1), which is not that uncommon (see for instance http://pari.math.u-bordeaux.fr/Events/PARI2019/talks/sources.pdf). I'm not sure if that i

[2019-04-15 20:23] nmascot commented on #20
Here is a better suggestion from Bill: Pipe("gp -qf",cmd)
-f means .gprc is ignored altogether. Since timer=0 is the default option, this should solve the problem.

[2019-04-15 20:27] AndrewVSutherland commented on #20
I'm not sure that is a great idea, you will often want parisize to be set and it will be very confusing to the user if they keep seeing messages about stack size that they don't expect to see given how they have parisize set in their gprc.

[2019-04-15 20:30] nmascot commented on #20
Ah, good point. How about -D timer=0 then? (according to Bill, good practice dictates that the timer should be set in .gprc, not .gprc.gp; and then -D will override .gprc)

[2019-04-26 01:27] jvoight opened #21 "Curious case"
Reported by Drew Sutherland:

For the Picard curve

    y^3 = 189*x^4+253*x^2+64

if I call HeuristicEndomorphismAlgebraCC using 1000 digits of precision
it tells me [RR,RR], which is impossible for a Picard curve.  So I have
been gradually increasing precision, most recently running at 10,000
digits, and it is still saying [RR,RR].

Now I actually now that this curve has ST group U(1)_3 and a com

[2019-04-26 01:29] jvoight commented on #21
This bug is worrisome, why would it find a matrix (with small integer entries) which preserves the lattice in low precision and then suddenly fail to see that it preserves the lattice in higher precision?  Is there a numerical threshold that isn't adapting appropriately?  If I were to debug, I'd take the exact matrices giving the "correct answer" in low precision and see why they're failing to be

[2019-04-26 04:37] edgarcosta commented on #21
My bet is that even though the working precision was increased, the accuracy of the period matrix didn't increase accordingly. I will try to look into this tomorrow or over the weekend.

[2019-04-26 08:36] JRSijsling commented on #21
This has to do with precision errors when calculating the period matrix to high precision. The official Magma release of Neurohr's work will likely fix this. To be able to spot trouble like this occurring, use
[code]
and you can see the LLL steps in the heuristic calculations.

In the meantime, I just pushed a commit that enables faster calculation for the specific case of superelliptic curves, wh

[2019-06-06 22:40] JRSijsling commented on #21
Adding Christian's improved code, the output of Drew's loop is now:
[code]
This solves the issue

[2019-06-06 22:40] #21 closed

[2019-06-06 22:44] JRSijsling commented on #6
Both required algorithms (calculation of superelliptic and calculation of plane period matrices) are now available in dependencies indicated in the README. The user can install these him- or herself.

For me this means that this is no longer an issue. However, I will not close it, as I know that some of you prefer installing dependencies as submodules.

[2019-06-07 02:53] edgarcosta commented on #6
Given that these will dependencies will soon be available in Magma, I say we are done for now, and it is not worth the effort of maintaining submodules.

[2019-06-07 02:53] #6 closed

[2019-06-13 21:35] jvoight opened #22 "Segfault"
Triggered by:

/Applications/Magma/magma: line 75: 99238 Segmentation fault: 11  "${ROOT}/bin/magma.exe" "$@"

[2019-06-13 22:31] jvoight opened #23 "Handle locus of indeterminancy more gracefully"
I guess we can't verify multiplication by 2 because it is in the locus of indeterminacy?

X := HyperellipticCurve(x^5+x+1);
P0 := X ! [0,1];
M := Matrix(Rationals(), [[2,0],[0,2]]);
DivisorFromMatrixAmbientSplit(X, P0, X, P0, M : LowerBound := 1);

I get

CantorFromMatrixAmbientSplit(
    X: Hyperelliptic Curve defined by y^2 = x^5 + x + 1 over Ration...,
    P0: (0 : 1 : 1),
    Y: Hyperelliptic

[2019-06-14 00:50] edgarcosta commented on #22
I can also recreate this segfault.

[2019-06-14 06:53] JRSijsling commented on #22
This was due to a mistake in the code, which caused a recursion. It works now. Note that you should set `Geometric := true` if you want the endomorphism algebra over QQbar.

[2019-06-14 06:53] #22 closed

[2019-06-14 06:55] JRSijsling commented on #23
Yes, that is the reason. We know that multiplication by 2 comes from an endomorphism anyway.

If we have a start on the corresponding developments of the branches, then we could still get this to work. Of course having a divisorial or Cantor representation of multiplication by n is of interest. It just does not work out of the box yet.

[2019-06-14 17:37] jvoight commented on #23
Yep, but this shows that we have to be careful when we claim we have an algorithm to certify endomorphisms, right?  Unless somehow multiplication by n is the only case where the image of AJ is contained in the indeterminacy locus of Mum?

This is like Hensel's lemma where we just need to keep iterating until DF_ev is invertible, which it will eventually be?

Could we at least handle this error gra

[2019-06-14 18:13] JRSijsling commented on #23
Ah right, I see your point. Yes, that does matter. After (5.2.12) in our paper there is an argument that adding a multiple of the identity will get us out of the locus. But that in fact does not having anything to do with what is going on here, because it should just work! This bug is truly strange, because the branches are distinct and we are not at a Weierstrass point. So the theory shows that e

[2019-06-15 16:22] JRSijsling commented on #23
The error message has been added and the bug has been squashed with extreme prejudice.

[2019-06-15 16:22] #23 closed

[2019-06-20 15:51] AndrewVSutherland commented on #20
Just to bump this, it would be great if you could replace "gp -q" with "gp -q -D timer=0" in polredabs.m and roots.m (three times) so that I don't have to remember to do this every time I clone or pull your repo.

[2019-06-20 19:14] JRSijsling commented on #20
Just pushed a commit. Let me know if it works.

[2019-06-24 16:51] edgarcosta opened #25 "Button to rigorously compute End(Jac(C))"
Feature request from @AndrewVSutherland, which I'm paraphrasing

[2019-06-24 16:58] JRSijsling commented on #25
I can make such a button. Is this meant for higher genus? Things are still quite suboptimal there, just sayin'. Genus 2 is fine.

[2019-06-24 17:17] AndrewVSutherland commented on #25
Even just genus 2 would be very useful (I would have used it today, in fact).

On June 24, 2019 5:58:35 PM GMT+01:00, Jeroen Sijsling <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-06-24 19:13] JRSijsling commented on #25
John's function is a great start. There is infrastructure in `Correspondence`, line 216 of `endomorphisms/endomorphisms/magma/heuristic/VerifyCorr.m`. This solves the problem of a common base field and finds a base point automatically. There are still some tricks to add in genus 2.

It is important to note that the part that I wrote only considers lower bounds. I can certainly write something that

[2019-06-25 16:14] edgarcosta commented on #25
If desired I can code the upper bound part in `Magma`.

[2019-06-25 16:59] JRSijsling commented on #25
That would be totally awesome. Even more so if you can do it for curves over a general number field. I will still update the Sage wrapper then, also for database purposes.

[2019-06-29 16:02] JRSijsling commented on #18
This works!

[2019-06-29 16:02] #18 closed

[2019-06-29 16:02] JRSijsling commented on #17
This works!

[2019-06-29 16:02] #17 closed

[2019-06-29 16:04] JRSijsling commented on #25
Today I will push automatic functions for this, both over the base and over the closure, as suggested. I will use the new that John used. All that remains are the upper bounds.

[2019-06-29 17:31] JRSijsling commented on #25
All right, it is there! I also added a `Cheat` option to prevent extension of scalars when choosing a base point.

[2019-06-29 18:17] JRSijsling commented on #15
Right now we have this:
(1) This is returned by `HeuristicEndomorphismRing`.
(2) This is returned via `HeuristicEndomorphismRepresentation`.
No post-processing yet, and no arrows between these notions. This could be a small programming project for someone who is interested in these algorithms.

[2019-07-03 18:35] jvoight commented on #15
Great!  What is the question?  Or are you ready to close this issue?

[2019-07-03 20:07] JRSijsling commented on #15
Yes, or to keep it open as a project.

[2019-07-03 20:10] jvoight commented on #15
Maybe open a new issue, make it a feature request, but with a more descriptive title?  (I don't seem to have the power to do this...)

[2019-07-03 20:26] JRSijsling commented on #15
Changed title and updated description. The current goal is to create a homomorphism between the results of `HeuristicEndomorphismRing` and `HeuristicEndomorphismRepresentation`.

[2019-09-13 21:41] AndrewVSutherland commented on #20
Modulo wrapping output in print (see PR #27), gp piping works fine, you can close this issue.

[2019-09-13 21:42] AndrewVSutherland commented on #16
With the new output format this should be a lot easier (possibly even unnecessary)

[2019-09-13 21:47] #20 closed

[2019-09-13 21:51] AndrewVSutherland opened #28 "polredbesting is betterer"
The caller can always decide whether they want to polredabs the final result or not, but for intermediate results used by the algorithm I see no reason to polredabas anything (unless you are relying on the defining polynomial to uniquely identify a field somewhere in the code).

When the endomorphism fields get big, polredabsing becomes the bottleneck -- eventually you will hit a field discriminan

[2019-09-13 21:52] edgarcosta commented on #28
I agree.

[2019-09-15 11:18] #25 closed

[2019-09-15 11:18] JRSijsling commented on #28
Only bester, not betterer, is better than best... but I digress. This is now the default.

[2019-09-15 11:18] #28 closed

[2019-11-14 23:39] edgarcosta opened #29 "ReconstructionFromComponentG1 fails for some examples"
[code]

[2019-11-16 15:33] JRSijsling commented on #29
Fixed; checking for period matrix properties was done in an outdated way.

[2019-11-16 15:33] #29 closed

[2020-01-24 20:03] AndrewVSutherland opened #30 "HeuristicEndomorphismAlgebra not working under CHIMP"
On a clean magma install of V2.25-1 attaching CHIMP.spec (and nothing else) and calling HeuristicEndomorphismAlgebra on a genus 2 curve fails (iota not assigned in PeriodMatrix):

[code]

[2020-01-27 20:35] a-kulkarn opened #31 "SagifyDescription issue"
First off, Wonderful package! I ran into the following issue after installing and trying to run:

"""
 *  Hyperelliptic examples
"""

from endomorphisms import EndomorphismData, mHyperellipticCurve, mPlaneCurve

F = QQ
R.<x> = PolynomialRing(F)
f, h = [21*x^7 + 37506*x^5 + 933261*x^3 + 5841759*x, R(0)]
f, h = [x^7 + 6*x^5 + 9*x^3 + x, R(0)]
f, h = [16*x^7 + 357*x^5 - 819*x^3 + 448*x, R(0)]
f, h =

[2020-01-27 21:06] JRSijsling commented on #30
For me, replacing `Rationals()` with `RationalsExtra()` works. Long story short: One needs an infinite place for every number field, and the package emphasizes this in this way. Default precision is 100.

[2020-01-27 21:13] JRSijsling commented on #31
Thank you for pointing this out! The `Sage` interface needs to be fixed; it is no longer up-to-date because most of the functionality is now accessible purely in `Magma`. So while this is a cop-out, right now the best thing to do is to use the pure `Magma` algorithms, as in `examples/Buttons.m`. However, the interface will be tested and fixed ASAP.

[2020-01-27 21:47] AndrewVSutherland commented on #30
Would it be too much to ask to add the line

`if BaseRing(C) eq Rationals() then  C:=ChangeRing(C,RationalsExtra()); end if;`

to the endomorphism functions (display a warning if you like)?  I used to have my own wrappers for everything which took care of this, (with an optional Precision parameter you could pass in), as well as a lot of other things, which is why I forgot, but with your new inter

[2020-01-28 06:56] JRSijsling commented on #30
Actually `RationalsExtra` is not a new class at the moment. Instead I just put some bells and whistles on the existing classes. Yes, that is stupid, and the code should rather declare new types, after which your fix is logical and natural. I was too lazy to do this the first time around and will try this soon.

The second bug comes from elsewhere: I do not get it in version 2.21-2.

[2020-01-28 13:13] edgarcosta commented on #31
@JRSijsling do you think it is worth it to keep the Sage interface?

@a-kulkarn alternatively we recommend http://doc.sagemath.org/html/en/reference/curves/sage/schemes/riemann_surfaces/riemann_surface.html for Sage

[2020-01-28 13:37] edgarcosta commented on #30
The second bug is a CHIMP bug. It comes from David Kohel's package echidna. I will fix it asap

[2020-01-28 14:41] JRSijsling commented on #31
The `SageMath` interface has two purposes. The first is to get access to both the `Magma` code for finding correspondences and the l-adic upper bounds and Abel-Jacobi methods, which are in Sage. The second is to enable the manipulation of databases and the testing of pretty print routines, both in the context of the LMFDB. Especially the latter has faded out of view, but it will likely become impo

[2020-01-28 15:56] edgarcosta commented on #30
The second bug has been fixed.

[2020-02-07 12:56] JRSijsling commented on #30
The first issue has been resolved in the new push.

[2020-02-07 12:56] #30 closed

[2020-02-07 13:04] edgarcosta commented on #30
Awesome, the changes are now available under CHIMP

[2020-02-08 19:49] gmarus77 opened #32 "PolarizationBasis issues"
I have issues trying to run PolarizationBasis().
Application of this function to some period matrix results in this error for me:

In file "/Applications/Magma/package/endomorphisms/endomorphisms/magma/heuristi\
c/Linear.m", line 18, column 46:

                                                ^
Runtime error in `: Attribute 'epscomp' for this structure is valid but not
assigned

I am not able to u

[2020-02-08 19:57] edgarcosta commented on #32
@gmarus77, could you give us the input matrix?
For example with:
[code]

[2020-02-09 07:44] JRSijsling commented on #32
The reason for this error is most like that one should define any matrix over a `ComplexFieldExtra` rather than over a `ComplexField`. So for example
[code]
followed by a line defining the matrix. Of course the precision used should not be higher than that of the matrix itself.

The reason for this annoying convention is that LLL calculations are fairly finnicky, and that adding these extra parame

[2020-02-09 09:20] JRSijsling commented on #32
The latest push should solve this issue. There is a corresponding example file in `examples/Polarizations.m`. Please let me know if this indeed works for you.

[2020-02-09 15:05] gmarus77 commented on #32
@edgarcosta   I have been using hcperiods  to compute the period matrices and all my attempts resulted in that error. Here is one example of such a matrix that comes from a curve $y^3=x^5-1$ with prec:=100.

`> printf "%m", MB;
KMatrixSpace(ComplexField(100), 4, 8) ! Matrix(ComplexField(100), 4, 8, [
2.45667355330102809921676187465783828668660845366014678883572161764810309697173\
82452530371496745

[2020-02-09 15:08] gmarus77 commented on #32
@JRSijsling  Thank you, I will try it again right now!

Also, if you do not mind, I have a question (probably a trivial question since I am new to magma) how does  `ComplexFieldExtra(300)` differ form regular   `ComplexField`? I could not find `ComplexFieldExtra` in the handbook.

[2020-02-09 15:18] gmarus77 commented on #32
@JRSijsling  Now it works -- thank you so much!
`PolarizationBasis(MB);
[
    [ 0  0  0  0 -1  0  0  0]
    [ 0  0  0  0  0 -1  0  0]
    [ 0  0  0  0  0  0 -1  0]
    [ 0  0  0  0  0  0  0 -1]
    [ 1  0  0  0  0  0  0  0]
    [ 0  1  0  0  0  0  0  0]
    [ 0  0  1  0  0  0  0  0]
    [ 0  0  0  1  0  0  0  0],

    [ 0  0 -1  0 -2 -1 -1  0]
    [ 0  0  1  1  1  1  1 -1]
    [ 1 -1  0 -1 -1 -1

[2020-02-09 16:09] JRSijsling commented on #32
@gmarus77

That is a completely valid question. The reason that you do not see it in the handbook is that basically this package adds some bells and whistles to a usual `ComplexField` when creating a `ComplexFieldExtra`, see `endomorphisms/magma/heuristic/CCExtra.m`.

[2020-02-09 16:13] JRSijsling commented on #32
@gmarus77

There is, and I just made sure that it could be invoked also without creating a `ComplexFieldExtra`. You do need that if you want to recognize things over a number field though. Examples are in `examples/Polarizations.m` after pulling the new version.

[2020-02-09 17:04] gmarus77 commented on #32
@JRSijsling Thank you for all your help!  I will take a look at `examples/Polarizations.m` and `endomorphisms/magma/heuristic/CCExtra.m`

[2020-02-09 17:04] #32 closed

[2020-02-11 17:13] gmarus77 opened #33 "GeometricEndomorphismRepresentationCC(S) and HeuristicEndomorphismDescription(S)"
I have issues when trying to execute functions from Buttons.m, I am using hcperiods  for the curve y^3=x^5-1 and it results in this error:

`GeometricEndomorphismRepresentationCC(S);

GeometricEndomorphismRepresentationCC(
    X: Complex superelliptic curve of genus 4 defined as degree 3 c...
)
PeriodMatrix(
    X: Complex superelliptic curve of genus 4 defined as degree 3 c...
)
In file "/Applica

[2020-02-11 17:17] edgarcosta commented on #33
Did you use `RationalsExtra`?

See: https://github.com/edgarcosta/endomorphisms/issues/30

On Tue, 11 Feb 2020 at 12:14, gmarus77 <notifications@github.com> wrote:

[2020-02-11 17:40] gmarus77 commented on #33
@edgarcosta I just tried to run with RationalsExtra and it provides a different error:

` Q<x> := PolynomialRing(RationalsExtra());

sh: gp: command not found

HeuristicEndomorphismDescription(
    X: Complex superelliptic curve of genus 4 defined as degree 3 c...
)
GeometricEndomorphismRepresentation(
    X: Complex superelliptic curve of genus 4 defined as degree 3 c...
)
GeometricEndomorphismRe

[2020-02-11 17:41] gmarus77 commented on #33
Executing `HeuristicEndomorphismAlgebra(S)` results in this error:

HeuristicEndomorphismAlgebra(S);
sh: gp: command not found

HeuristicEndomorphismAlgebra(
    X: Complex superelliptic curve of genus 4 defined as degree 3 c...
)
GeometricEndomorphismRepresentation(
    X: Complex superelliptic curve of genus 4 defined as degree 3 c...
)
GeometricEndomorphismRepresentation(
    P: [3.802183132590

[2020-02-11 18:22] edgarcosta commented on #33
@gmarus77, do you by some chance have Sage installed on your computer?

[2020-02-11 18:22] JRSijsling commented on #33
Please pull the new changes, which remove an unnecessary restriction. After this, superelliptic curves should (hopefully!) work once you follow the `README.md`: You need a Pari installation accessible as `gp` in your terminal. (This is annoying, but needed to make the number fields involved small.)

After that you can go
[code]
and then follow the example file `example/Buttons.m` from line 72 onwa

[2020-02-11 18:46] gmarus77 commented on #33
@edgarcosta  Yes, I have both Sage and Pari installed.
@JRSijsling  It seems the problem is that my Pari installation is not accessible as `gp` in my  MacOS terminal. I am trying to figure out how to do it and will update on my progress. (hopefully, it won't take me that long)

Once again huge thanks for your help!

[2020-02-11 19:19] edgarcosta commented on #33
you can make it acessible with a symlink, something like:
[code]

On Tue, 11 Feb 2020 at 13:47, gmarus77 <notifications@github.com> wrote:

[2020-02-11 20:29] gmarus77 commented on #33
@edgarcosta  and @edgarcosta  Now everything works like magic -- thank you guys!
`HeuristicEndomorphismDescription(X);
<[ <1, 1> ], [
    <1, 1, [ -1, 1 ], 1, 4>
], <1, -1>, 1>

Associative Algebra of dimension 1 with base ring Rational Field`

[2020-02-11 20:50] gmarus77 commented on #33
Actually, some of the functions result in a different error, e.g. HeuristicJacobianFactors(X),  IsogenyInformation(X) output the same error:

F := Rationals();
R<x,y> := PolynomialRing(F, 2);
f:=y^2-(x^6-2*x^2+1);
X := PlaneCurve(f);

HeuristicJacobianFactors(X);

HeuristicJacobianFactors(
    X: Curve over Rational Field defined by $.1^6 - 2*$.1^2*$.3^4 -...
)
ReconstructionFromComponent(
    P:

[2020-02-11 21:57] JRSijsling commented on #33
The problem here is that the file `curve_reconstruction/magma/reconstruction.
m` in the dependency gets read, which needs [https://github.com/JRSijsling/quartic_reconstruction](https://github.com/JRSijsling/quartic_reconstruction). You do not even need that in fact, it just gets confused by the use of the name, so that prerequisite still needs to be added.

[2020-02-11 22:15] gmarus77 commented on #33
@JRSijsling  Thank you once again! After updating spec with the quartic_reconstruction both functions work.

[2020-02-11 22:15] #33 closed

[2020-02-12 19:55] edgarcosta opened #34 "Check for ComplexFieldExtra and RationalsExtra?"
Should we require that certain input is defined with ComplexFieldExtra and RationalsExtra?

See: #30, #32 and #33

[2020-02-12 20:17] JRSijsling commented on #34
It is possible, in the former case by checking that the attribute `epscomp` is assigned and in the latter by checking that the attribute `CC` is assigned. We should then return an error message telling the user to extend their base field. (Perhaps we should also write an intrinsic for that.)

At the same time, it is also good that right now the main algorithms also work without conciously using `R

[2020-02-13 18:51] gmarus77 opened #35 "HeuristicJacobianFactors() outputs Runtime error in assert: Assertion failed"
When trying  HeuristicJacobianFactors()  on some trigonal curve of genus >10, it outputs an error:
`In file "/Applications/Magma/package/endomorphisms/endomorphisms/magma/heuristi\
c/Structure.m", line 144, column 5:

       ^
Runtime error in assert: Assertion failed`

As I understand, the reason is that `EndomorphismAlgebraQQ` works properly only for genus < 8?

[2020-02-13 19:41] gmarus77 commented on #35
This is the error itself:
ERror
SetVerbose("EndoFind", 3);

Calculating period matrix...
done calculating period matrix.

Calculating period matrix...
using stored period matrix.

Finding geometric homomorphisms...

Height of row: 0
Precision reached: 7.8226E-119

Height of row: 0
Precision reached: 6.9319E-119
done finding geometric homomorphisms.

Finding number field defined by homomorphisms...

[2020-02-13 22:56] JRSijsling commented on #35
@gmarus77

Yes, or rather that the building blocks of the Jacobian are of dimension less than 8. The current code could do better, and is a bit rigorous in ignoring this case. The main issue involves the identification matrix algebras over skew fields, which is harder than the identification of the central idempotents. Basically this means that right now one has to do this by hand. It is a point o

[2020-02-14 06:44] JRSijsling commented on #35
Incidentally, it may be possible to take a "Hail Mary" approach by removing that assert.

[2020-02-14 15:25] gmarus77 commented on #35
@JRSijsling  Interesting -- I will try the computations again over the weekend by removing the assert to see if they give the correct results. That computation lasted 25 hours for me :)

[2020-02-14 15:41] JRSijsling commented on #35
@gmarus77 True, that is another problem in higher genus: solving the equations for finding the endomorphisms over CC (before any LLL) starts involving loads of variables...

[2020-02-17 10:49] AndrewVSutherland opened #36 "Assert failure in HeuristicJacobianFactor on smooth plane quartic"
I am hitting an ssert failure at line 73 of Rosati.m (I'm using CHIMP):

HeuristicJacobianFactors(
X: Curve over Rational Field defined by x^4 - x^2*y^2 + y^4 + y...
)
SplitComponents(
P: [1.273966989243803569282078974450871097837603645553309364674...,
GeoEndoRep: [ [* [1 0 0] [0 1 0] [0 0 1],  [1 0 0 0 0 0] [0 1 0 0 0 0] [...
)
RootsOfIsotypicalComponent(
Q: [0.59452651894343876288059807696922241

[2020-02-17 11:07] JRSijsling commented on #36
The reason for this bug is a Rosati fixed module calculation in a context where there is no given polarization and where this question therefore makes no sense. The most recent push should fix this. After adding it, I get:
[code]

[2020-02-17 11:51] AndrewVSutherland commented on #36
@JRSijsling Thanks for the quick fix!  I can confirm that this works (after doing a git submodule update --remote to refresh CHIMP).

[2020-02-17 12:02] AndrewVSutherland commented on #36
Actually, I still hit the same assert failure for the curve x^4 + y^4 - 3*y*z^3 = 0:

HeuristicJacobianFactors(
X: Curve over Rational Field defined by x^4 + y^4 - 3*y*z^3
)
SplitComponents(
P: [0.420983077042957049560031670231234824877929144753111652032...,
GeoEndoRep: [ [* [                                                      ...
)
RootsOfIsotypicalComponent(
Q: [0.12047456411181446485834990478

[2020-02-17 12:35] JRSijsling commented on #36
The same path involving a Rosati calculation is taken in `EndomorphismData` later in `DecFacts.m` and I did not correct accordingly. After the most recent push, this comes out (these curves have j-invariants 0, 1728 and 1728):
[code]

[2020-02-17 12:38] AndrewVSutherland commented on #36
Thanks, I can confirm this fixes the problem for me as well.

[2020-02-17 12:38] #36 closed

[2020-02-19 17:18] #35 closed

[2020-06-18 17:56] JRSijsling commented on #34
The current buttons now change a given curve to a suitable ```NumberFieldExtra''' if it is not defined over one already. The same applies for period matrices using ```MatrixExtra'''.

[2020-06-18 17:56] #34 closed

[2020-08-22 19:30] jvoight opened #37 "Homogenize"
Line 36 of /magma/heuristics/Curves.m calls a function called Homogenize.  I think this is a unlinked dependency.  I know it's not a standard Magma function, because they would insist on calling it Homogenization.

[2020-08-24 16:50] jvoight opened #39 "Endos for humans"
The output of EndomorphismRepresentation is something like
<[ <2, 1> ], [
    <2, 1, [ -1, 1 ], 1, 2>
], <5, 1>>
which can be hard for a human to interpret.  We should have a function called
  EndomorphismRepresentationDescription
(for humans) which in the above would say
  "The endomorphism algebra of xxx defined over yyy is the matrix algebra M_2(QQ), so Jac(A) ~ A2.1^2 where A2.1 is an abelian

[2020-08-24 20:08] edgarcosta commented on #39
Do the buttons: `EndRROverQQbar` and `EndRROverQQ` address your request?

https://github.com/edgarcosta/endomorphisms/blob/master/endomorphisms/magma/heuristic/Buttons.m#L154

or you really asking for a more verbose answer?

[2020-08-24 20:17] jvoight commented on #39
I was thinking more verbose; these just output one part of the SeqEnum?

Hmm, maybe we just need to talk about printing an EndoRep.  In Magma, this is supposed to be fairly descriptive: when you define a hyperelliptic curve X and then type
  X;
it does not return a sequence of integers defining the polynomial, it helpfully displays a string explaining what the object is.  Can we do that here?

But

[2020-08-26 20:05] edgarcosta commented on #37
@jvoight, @JRSijsling added the function
https://github.com/edgarcosta/endomorphisms/blob/master/endomorphisms/magma/heuristic/Curves.m#L33

[2020-08-26 20:05] #37 closed

[2020-08-28 10:43] JRSijsling commented on #39
I added something that makes a try in this direction to the button function `HeuristicEndomorphismDescription`, see `examples/Test-Humans.m` for a test run. For now it describes the isotypical decomposition (over the base or geometrically) and the endomorphism algebra of the factors.

[2020-09-21 01:28] edgarcosta opened #40 "DecFacts bug"
[code]

FYI, bumping up the precision fixes the problem (but I still think this
is a bug)

Reported by @andrewvsutherland

[2020-09-21 10:14] JRSijsling commented on #40
Line 172 of `endomorphisms/endomorphisms/magma/heuristic/Buttons.m` indicates that this function is not currently supported. I hope to find the time to improve this situation, but currently it is not there. `HeuristicDecomposition` should usually work.

When running this with only `endomorphisms` and `curve_reconstruction`, I do get a bug, but of another kind, which indicates that a certain elemen

[2020-09-21 10:15] JRSijsling commented on #40
Sorry, I accidentally typed a shortcut. This should remain open until we are sure that this behaves stably.

[2020-09-29 01:49] edgarcosta opened #42 "Puiseoux lift bug"
[code]

reported by @kirankedlaya

[2020-10-01 01:49] edgarcosta opened #43 "Picking a non WP point bug"
[code]

reported by @kedlaya

[2021-03-09 03:49] jvoight opened #44 "Polarization bug?"
[code]

This gives an error:

[code]

[2021-03-09 16:50] edgarcosta commented on #44
It works for me:
[code]

is CHIMP up to date?

could you please do:
[code]

[2021-03-11 00:27] jvoight commented on #44
Alas, one CHIMP was up-to-date, but not the other.  That fixed it, sorry!

[2021-03-11 00:27] #44 closed

[2021-03-15 17:37] jvoight opened #45 "First Mumford coordinate"
According to
  https://arxiv.org/pdf/2102.08018.pdf
there's something about the "first Mumford coordinate" which lowers complexity.  Does that help us too?

[2021-09-07 01:01] edgarcosta opened #46 "upperbounds into Magma"
Implement upper bounds into Magma.
They are already implemented in sage, so is just a question of conversion.

[2021-12-24 19:09] jvoight opened #47 "Issues in relative with field compositum"
abelian variety of dimension 2 with endomorphism algebra the number field defined by t^2 - 2

CertifiedEndomorphismAlgebra(
X: X
)
Correspondence(
X: X,
Y: X,
mor: [* [1 0] [0 1],  [1 0 0 0] [0 1 0 0] [0 0 1 0] [0 0 0 1] *]
)
ChangeRingCurve(
X: X,
h:  Composition of Mapping from: Rational Field to Number Field...
)
In file "/Users/edgarcosta/projects/CHIMP/endomorphisms/endomorphisms/magma/heuris

[2021-12-27 02:56] edgarcosta commented on #47
fixed via 1a7f3f02ae8fa3dc01954565a9fe305cd65ae9d2

[2021-12-27 02:56] #47 closed

[2022-03-24 18:28] kimballmartin opened #48 "unclear output of HeuristicEndomorphismDescription"
The HeuristicEndomorphismDescription does not make it clear the answer is a quaternion algebra in this example:

[code]

To me, it wasn't clear what the latter output means in isolation, e.g., a quadratic field or a quaternion algebra?  Is it a commutative algebra or noncommutative?  What does "index 2" for an algebra?  I guess index means degree as a CSA, but it also doesn't tell me what the cent

[2022-05-27 15:49] edgarcosta opened #49 "CurveExtra precision issues over number fields"
There are some weird shenanigans happening when one uses CurveExtra.
In particular, I'm convinced certain things are being passed by references instead of copied.
I hopefully will debug this in the feature, but for the time being here are my findings:
1- Increasing precision doesn't seem to work after calling `Heuristic*` as it makes it internally calls `CurveExtra`
[code]

2- increasing the preci

[2022-09-11 18:38] AndrewVSutherland opened #52 "Bug in HeuristicDecomposition?"
I am encountering the following error on many genus 2 curves over Q whose Jacobians are isogenous to products of elliptic curves over Q (I think these used to work):

[code]

[2022-09-11 18:38] AndrewVSutherland commented on #52
Possibly the problem is in the `curve_reconstruction` package and not in `endomorphisms`.

[2022-09-24 19:02] edgarcosta opened #55 "Factor out numerical approximation"
I have realized that [`assaferan/ModFrmGL2`](https://github.com/assaferan/ModFrmGL2) by @assaferan has forked some of the code for the numerical approximation, see:

https://github.com/assaferan/ModFrmGL2/tree/master/ModFrmGL2/NumApprox

Would it make sense to also factor out this part from endomorphism into its own package?
Maybe I'm going a bit crazy with this factoring out, but this would provi

[2022-09-25 06:01] #52 closed

[2022-09-27 00:00] assaferan commented on #55
It definitely makes sense, but the blame is on me - I can take it out and have it as a requirement (or maybe better, as a requirement to some of the functionality).